.btn-global{
    text-transform: capitalize;
    text-decoration: none;
    min-width: 18%;
    text-align: center;
    align-self: center;
    color: white;
    background: darkorange;
}
.bg-gradient-global{
    background-image: linear-gradient(to bottom right, white , cadetblue);
}
